/* -----------------------------------------------------
   📌 Inclusión obligatoria de Tailwind
   -----------------------------------------------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}



@font-face {
  font-family: 'Monserrat';
  src: url(font/Montserrat-VariableFont_wght.ttf) format('truetype');
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
 font-family: 'Monserrat';
 
background-color: #d7dad1;



 /* gris/azul oscuro */
  color: #0f172a;
}

